/* CSS Document */
.primary-color {
  color: #ed213a;
}

.sky {
  background: url("/assets/images/001-01.png") #fff;
  background-position: center;
  height: 100vh;
  background-size: cover;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header img {
  max-width: 300px;
}

.card {
  border-radius: .75rem !important;
  border: 16px solid transparent !important;
  border: 4px solid #ed213a !important;
}

/* .card-boder{
    border-color: #fff200 !important;
} */
h1#headerNames {
  background-color: #fff;
  color: #000;
  opacity: .8;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.sunburst {
  border-radius: 50%;
  -webkit-animation: rotation 10s infinite linear;
          animation: rotation 10s infinite linear;
  position: relative;
  top: -90px;
  width: 100%;
}

.sunburst img {
  max-width: 100%;
  z-index: -1;
}

.total-entry-count {
  position: fixed;
  right: 40px;
  top: 40px;
}

.total-entry-count .card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

canvas {
  z-index: -1;
}

/* ---- reset ---- */
.github {
  z-index: 10000;
}

.github .container {
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid white;
}

.github .container .winner-list {
  padding: 0 12px 6px 12px;
}

.github .container .winner-list header {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  color: #ed213a;
  margin-bottom: 1rem;
}

.github .container .winner-list th {
  color: #ed213a;
  font-size: 1.5rem;
  padding: .5rem 0;
}

.github .container .winner-list table,
.github .container .winner-list tr,
.github .container .winner-list td {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: .3rem 0;
}

.modal h1 {
  color: #141313;
  font-weight: 800;
  font-size: 3.5rem;
  font-family: 'Great Vibes', cursive;
}

#winnername {
  color: #ed213a;
  font-weight: 800 !important;
  font-size: 4rem !important;
}

#winnername img {
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1) !important;
}

#final-winner-list img {
  max-width: 30px !important;
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1) !important;
}

#winnerDescription {
  color: #000;
  font-weight: 800;
  font-size: 1.5rem;
}

#winnerimage img,
#winnerimage iframe {
  max-width: 80% !important;
}

#maldivesWinnerList .card .card-body {
  padding: 0.75rem 1rem;
}
/*# sourceMappingURL=main.css.map */